:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --primary-color: #08A6E4;
    --shadow-color: rgba(7, 172, 230, .16);
    --color-grey: #A5A5A5;
    --color-grey-light: #F7F7F7;
    }
    
body {
    margin: 0 auto;
    font-family: var(--primary-font);
    }

.container {
    width: 1352px;
}