/*pricing*/

.pricing {
    height: 800px;
}
.pricing .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 100px;

    @media (max-width: 1200px) {
    margin: 0 50px;
    }
}

.pricing-header {
    text-align: center;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.pricing-tables {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px
}

.pricing-tables-frame1, .pricing-tables-frame2, .pricing-tables-frame3 {
    text-align: center;
    height: 100%;
    width: 320px;
    border: 1px solid black;
    border-radius: 18px;
    padding-top: 34px;
    margin: 0 30px;

    @media (max-width: 1200px) {
    margin: 0 10px;
    }
}

.pricing-tables-pack {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 14px;
}

.pricing-tables-price {
    font-size: 46px;
    font-family: var(--secondary-font);
    font-weight: 300;
}

.pricing-tables-limit {
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
}

.pricing-tables-frame1 .pricing-tables-price {
    margin-bottom: 65px;
}

.pricing-tables-frame2 .pricing-tables-limit {
    margin-bottom: 70px;
    margin-top: 25px;
}

.pricing-tables-frame3 .pricing-tables-limit {
    margin-bottom: 40px;
}

.pricing-inlcusions li {
    font-size: 14px;
    font-family: var(--secondary-font);
    margin-bottom: 25px;
}

li.incl::before {
    content: "";
    display: inline-block;
    height: 11px;
    width: 11px;
    border: 1px solid #55DFB4;
    background-image: url(../assets/Checkmark.svg);
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}

li.not-incl::before {
    border: 1px solid #FB3B64;
    background-image: url(../assets/Close.svg);
}    

.pricing-btn {
    font-size: 13px;
    font-family: var(--secondary-font);
    font-weight: bold;
    padding: 16px 64px;
    color: white;
    border: none;
    border-radius: 23px;
    margin-top: 50px;
    position: relative;
    bottom: -45px;
}

.pricing-tables-frame2 .pricing-btn {
    bottom: -95px;
}

.pricing-tables-frame1 {
    border-color: #FB3B64 ;
}

.pricing-tables-frame1 p {
    color: #FB3B64;
}

.pricing-tables-frame1 a {
    background-color:  #FB3B64;
}

.pricing-tables-frame2 {
    border-color: #08A6E4 ;
    height: 120%;
    width: 350px;
    box-shadow: 5px 10px 27px var(--primary-color);
}

.pricing-tables-frame2 p {
    color:#08A6E4;
}

.pricing-tables-frame2 a {
    background-color:  #08A6E4;
}

.pricing-tables-frame3 {
    border-color: #55DFB4 ;
}

.pricing-tables-frame3 p {
    color:#55DFB4;
}

.pricing-tables-frame3 a {
    background-color:#55DFB4;
}
