/*stats*/

.stats {
    height: 531px;

    @media (max-width:800px) {
        height: auto;
    }
}

.stats .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-header {
    font-size: 36px;
    text-align: center;
    margin: 100px 0px;

    @media (max-width:800px) {
        padding: 60px 100px 30px 100px;
        margin: 0;
    }
    @media (max-width:460px) {
        font-size: 30px;
        padding: 50px 35px 30px 35px;
    }
}

.stats-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width:800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.stats-data-1, .stats-data-2, .stats-data-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    @media (max-width:800px) {
        margin-bottom: 30px;
    }
}

.stats-data p {
    text-align: center;
}

.stats-data-1-circle {
    height: 63px;
    width: 63px;
    background-color: #FB3B64;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    &:hover {
        animation: pulse 2s linear;

        @keyframes pulse {
            25% {
                transform: scale(2);
                background-color: yellow;
            }
            50% {
                transform: scale(1.5);
                background-color: #FB3B64;
            }
            75% {
                transform: scale(2);
                background-color: yellow;
            }
            
        }
    }
}

.stats-data-1-icon {
    position: absolute;
    transform: translate(75%, 10%);
}

.stats-data-2-circle {
    height: 63px;
    width: 63px;
    background-color: #08A6E4;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    &:hover {
        animation: flash 3s infinite;

        @keyframes flash {
            20% {
                opacity: 1;
            }
            25% {
                opacity: 0.3;
            }
            25.003% {
                opacity: 1;
            }
            39% {
                opacity: 0.3;
            }
            40% {
                opacity: 1;
            }
            45% {
                opacity: 0.3;
            }
            45.003% {
                opacity: 1;
            }
            
        }
    }
}

.stats-data-2-icon {
    position: absolute;
    transform: translate(40%, 30%);
}

.stats-data-3-circle {
    height: 63px;
    width: 63px;
    background-color: #55DFB4;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;

    &:hover {
        animation: rotate 1.5s infinite normal linear;

        @keyframes rotate {
            25% {
                transform: rotate(90deg);
            } 
            50% {
                transform: rotate(180deg);
            }  
            75% {
                transform: rotate(270deg);
            }  
            100% {
                transform: rotate(360deg);
            }             
        }
    }
}

.stats-data-3-icon {
    position: absolute;
    transform: translate(60%, 10%);
}

.stats-data-number {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 6px;
    margin: 15px 0px 19px 0px;
}

.stats-data-info {
    font-size: 17px;
    color: var(--color-grey);
}
